* {
  box-sizing: border-box;
}

.backer {
  background-image: linear-gradient(to bottom, #000, #434343);
  padding-bottom: 20px;
}

.header {
  width: 100%;
  max-height: 50px;
  background-image: radial-gradient(
    circle at 50% 50%,
    rgba(154, 154, 154, 0.5),
    rgba(23, 22, 22, 0.5)
  );
  display: flex;
  flex-direction: row;
  padding: 0;
  color: #0ae6ff;
  justify-content: space-between;
  border-bottom: 2px solid #0ae6ff;
  align-items: center;
}

.header h1 {
  font-size: 20px;
}

button {
  border: none;
}

.nav-bar {
  display: flex;
  flex-direction: column;

  z-index: 5;
}

.nav-toggle {
  border-radius: 25px;
  background: transparent;
}

.icon {
  width: 45px;
  height: 45px;
  padding: 5px;
  font-size: 40px;
  color: #0ae6ff;
}

.nav-bar a {
  text-decoration: none;
  color: white;
  font-size: 20px;

  min-width: 100%;
  padding: 5px;
  border-radius: 8px;
}

.icon-adj {
  margin: 0;
  padding: 0;

  font-size: 45px;
  color: crimson !important;
}

.nav-bar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 35px;
  background-color: #272727e1;
}

.nav-bar li {
  width: 100%;
  margin: 10px 5px;
  color: white;
}

.nav-bar a:hover {
  color: #0ae6ff;
}

.nav-menu {
  width: 100%;
  height: fit-content;
  overflow: hidden;
  border-radius: 25px;
  z-index: 5;
  margin-top: 120px;
}

.nav-list {
  text-align: center;
  list-style: none;
  margin: auto;
  margin-left: -50px;
  margin-top: 35px;
  border-radius: 25px;
}

.about {
  font-size: 30px;
  color: white;
  width: 90%;
  max-width: 800px;
  margin: auto;
  text-align: center;
}

.about img {
  width: 100%;
}

/* put these at the bottom: */

.hide {
  display: none;
}

.show {
  display: block;
}
